body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cell{
  flex: 0 0 33.3%;
  height: 50px;
  display: inline;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardWin{
  flex: 0 0 33.3%;
  height: 15vh;
  display: inline;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallBoard{
  border: 2px solid aqua;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.3%;

}

.largeBoard{
  display: flex;
  flex-wrap: wrap;
  width: 470px;
}

.active{
  border: 2px solid red;
}
