*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: helvetica, sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 2.5em;
  background: url('/chalk.jpg');
  background-position: right;
  background-repeat: no=no-repeat;
  background-size: 160%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1{
  font-size: 3em;
  margin-top: -100px;
  margin-bottom: 75px;
  text-align: center;
}

#letter1{
  color: #D69A66
}
#letter2{
  color: #FDF8DC
}
#letter3{
  color: #1AA6D0
}
#letter4{
  color: #E6858D
}
#letter5{
  color: #928F1A
}
.x{
  color: #FDA1B3;
}
.o{
  color: #DFE9D1;
}
.cell{
  background-color: rgba(0, 0, 0, 0.5);
  flex: 0 0 33.333%;
  height: 50px;
  display: inline;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.smallBoard{
  border: 5px solid #1AA6D0;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.333%;
  height: 160px;
}
.largeBoard{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}
.winner{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
  border: 5px solid white;
  transform: rotate(360deg);
  transition: all 2s;
}
.boardWin{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  flex: 0 0 33.333%;
  height: 160px;
  display: inline;
  border: 5px solid #1AA6D0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  border: 5px solid red;
  transition: border 1s
}
#rules {
  position: fixed;
  color: black;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  border-bottom-right-radius: 20px;
  padding: 20px;
  font-size: 1em
}
#rules:focus {
  outline: none;
}
#title{
  font-size: 2em
}
